{% load static %}
<html>
    <head>
        <title>LitReview</title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'app.css' %}">
    </head>
    <body class="p-3 mb-2 bg-dark text-white">
        <div class="sidebar">
            <h1>LitReview</h1>
            {% if user.is_authenticated %}
                <p><a href="{% url 'home' %}">Flux</a></p>
                <p><a href="{% url 'my-posts' %}">Mes posts</a></p>
                <p><a href="{% url 'follow_users' %}">Abonnements</a></p>
                <p><a href="{% url 'change-password' %}">Changer de mot de passe</a></p>
                <p><a href="{% url 'logout' %}">Se déconnecter</a></p>
            {% endif %}
        </div>
        <div class="main ">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
