{% extends 'base.html' %}
{% block content %}
    <h2>Suivre des utilisateurs</h2>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" >Envoyer</button>
    </form>
    <h2>Abonnements</h2>
    {% for user in following %}
        <p>{{ user.username }} <a href="{% url 'unfollow' user.id %}"><button type="submit">Désabonner</button></a></p>
    {% endfor %}
        
    <h2>Abonnés</h2>
    {% for user in followers %}
        <p>{{ user.username }}</p>
    {% endfor %}
{% endblock content %}