{% extends 'base.html' %}
{% load blog_extras %}
{% block content %}
<h2>{{ user.username }} </h2>
<p><a href="{% url 'create-review' %}"><button type="submit">Créer une critique</button></a></p>
<p><a href="{% url 'create-review' %}"><button type="submit">Demander une critique</button></a></p>
<div class="grid-container">
    {% for instance in ticket %}
        {% if instance|model_type == 'Ticket' %}
            <div class="post">
                <a href="{% url 'view-ticket' instance.id %}">
                    <h4>Ticket : {{ instance.title }}</h4>
                    <img src="{{ instance.image.url }}">
                    <p><strong>Écrit par {% get_poster_display instance.user %}</strong></p>
                    <p>{{ instance.time_created|get_posted_at_display }}</p>
                    <p><a href="{% url 'add-review' instance.id %}"><button type="submit">Créer une critique</button></a></p>
                </a>
            </div>
        {% endif %}
    {% endfor %}    
    {% for instance in review %}
        {% if instance|model_type == 'Review' %}
        <div class="post">
                <a href="{% url 'view-review' instance.id %}">
                    <h4>Critique : {{ instance.headline }}</h4>
                    <img src="{{ instance.ticket.image.url }}">
                    <p><strong>Écrit par {% get_poster_display instance.user %}</strong></p>
                    <p>{{ instance.time_created|get_posted_at_display }}</p>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}