{% extends 'base.html' %}
{% load blog_extras %}
{% block content %}
    <h2>{{ ticket.title }}</h2>
    {% if user == ticket.user %}
        <p><a href="{% url 'edit-ticket' ticket.id %}"><button type="submit" class="btn btn-outline-success">Modifier le Ticket</button></a></p>
    {% endif %}
    <p><a href="{% url 'add-review' ticket.id %}"><button type="submit" class="btn btn-outline-success">Créer une critique</button></a></p>
    {% if ticket.image %}
        <img src="{{ ticket.image.url }}" height="600">
    {% endif %}
    <p><strong>Déscription:</strong>{{ ticket.description }}</p>
    <p>Ticket crée par {{ ticket.user }}</p>
    <p>{{ ticket.time_created|get_posted_at_display }}</p>
{% endblock content %}