{% extends 'base.html' %}
{% load blog_extras %}
{% block content %}
    <h2>{{ review.headline }}</h2>
    {% if user == review.user %}
        <p><a href="{% url 'edit-review' review.id %}"><button type="submit" class="btn btn-outline-success">Modifier la critique</button></a></p>
    {% endif %}
    {% if review.ticket.image %}
        <img src="{{ review.ticket.image.url }}" height="600">
    {% endif %}
    <p>{{ review.ticket.title }}</p>
    <p><strong>Déscription:</strong> {{ review.ticket.description }}</p>
    <p><strong>Critique:</strong>{{ review.body }}</p>
    <p><strong>Notes:</strong> {{ review.rating }}/5</p>
    <p>Critique crée par {{ review.user }}</p>
    <p>{{ review.time_created|get_posted_at_display }}</p>
{% endblock content %}